@use 'variables.scss';
@use 'utils.scss';
@use 'components/index.scss';
@use 'theme/index.scss' as index2;

h1 {
    color: blue;
}

.main-container {
    font-family: variables.$title-font-family;
    margin: {
        right: 30px;
    }
    padding: {
        top: 10px;
        bottom: 30px;
    };
    position: relative;
    overflow-x: hidden;

    &.closed {
        left: 100px;
        width: calc(100% - 140px);
    }

    &.open {
        left: variables.$sideNavWidth + 40px;
        width: calc(100% - 360px);
    }   
}

label {
    color: variables.$form-label-color;
    font-size: 18px;
    margin-right: 20px;
}

input[type="file"] {
    display: none;
}

input[type="radio"] {
    margin-right: 10px;
}

body {
    margin: 0px;
}

hr {
    margin: 20px 0px 10px;
    border: 1px dashed #aaa;
}

a {
    text-decoration: none;
}
